// Define variables for your color scheme
$cream: #F6F5F4;
$light-cream: rgba(246,245,244, 0.8);
$gray: #595F59;
$brown: #D3CEC5;
$orange: #EB5E28;
$blue: #035E7B;
$light-brown : rgba(211,206,197,0.4);
