<div class="title flex flex-col items-center mt-8 mb-16">

 <div><h1><%= title %></h1></div>

  <div class="barre mt-2">
    <div class=" barre-right"></div>
    <div class="barre-white"></div>
    <div class="barre-orange"></div>
    <div class="barre-white"></div>
    <div class="barre-left"></div>
  </div>
</div>

