<div class="regular-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= image_path photo %>);">
  <div class="pt-16">
    <h1 class="banner-content pt-64"><%= title %></h1>
  </div>
</div>
