<div class="video-card flex justify-center items-center my-12">
  <div class="video-card-content">
    <h2><%= title %></h2>
    <p class="mt-8"><%= description %></p>
  </div>

  <div class="video-left">
    <div class="iframe">
      <iframe width="600" height="400"  src="<%= embeded_link %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="video-border-left"></div>


