<div class="gallery-banner flex justify-center">
  <%= link_to '#photo' do  %>
    <div class="photo flex justify-center items-center">
      <h1>Photos</h1>
    </div>
  <% end %>
  <%= link_to '#video' do  %>
    <div class="video flex justify-center items-center">
      <h1>Vidéos</h1>
    </div>
  <% end %>
</div>
