<%= render 'shared/regular-banner', photo: 'gallery-test-2.jpg', title: 'Présentation' %>

<div class="absolute my-2 w-full">
  <%= render 'shared/barre', title: 'Caractéristiques' %>


  <div class="brown-bg">
    <%= render 'shared/barre', title: 'Pedigree' %>


  </div>
  <%= render 'shared/barre', title: 'Performance' %>
</div>
