<%= render 'shared/regular-banner', photo: 'gallery-test-2.jpg', title: 'Les saillies' %>

<div class="absolute my-2 w-full">
  <%= render 'shared/barre', title: 'Infos' %>


  <div class="brown-bg">
    <%= render 'shared/barre', title: 'Réservations d\'une saillie' %>


  </div>
  <%= render 'shared/barre', title: 'Autres prestations' %>
</div>
