.orange-arrow {
  p, a {
   color: $orange !important;
   margin-right: 8px;
  }

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}


.blue-arrow {
  p, a {
   color: $blue !important;
   margin-right: 8px;
  }

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}


