.orange-arrow {
  width: 100px;

  p, a {
   color: $orange !important;
   margin-right: 8px;
  }

}


.blue-arrow {

  width: 100px;

  p, a {
   color: $blue !important;
   margin-right: 8px;
  }

}


