.home-card {

  .home-card-content {
    width: 25%;
  }

  img {
    border-radius: 5px;
    height: 550px;
    width: 460px;
    box-shadow:  0 4px 10px rgba(0,0,0,0.25);
    object-fit: cover;
  }

}


@media (max-width: 720px) {
  .home-card {
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    .home-card-content{
      width: 100% !important;;
      padding: 10px;

    }

    img {
    position: relative;
    left: 30px;
    height: auto;
    width: auto;
    }
  }
}
