.homebanner{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(ugo.jpg);
  background-position: center;
  background-size: fit;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;

  h1, p {
    color: $light-cream !important;
  }

  .homebanner-content {
    width: 50%;
    text-align: center;
  }

  .bounce {
    position: relative;
    bottom: -12rem;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    0% {bottom: -12rem;}
    25%, 75% {bottom: -11.9rem;}
    50% {bottom: -11.8rem;}
    100% {bottom: -12rem;}
  }

  img {
    margin: 0;
    height: 50px;
    width: auto;
  }
}
