.icons {
  img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  }

  h3  {
    position: relative;
    // bottom: 35px;
    color: $gray;
    font-weight: 400;
    font-family: 'Roboto';

    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 10px;
  }
}
