.notice-bar {
  background-color: $orange;
  text-align: center;
  width: 100vw;

  a {
  // margin: 0;
  // padding: 8px;
  font-family: 'Montserrat';
  color: $cream !important;
  font-weight: 600 !important;
  }
}
