.orange-btn {
  background-color: $orange;
  color: $cream;
  height: 40px;
  padding: 8px 15px ;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Merriweather';
  font-size: 15px;

  a {
    padding: 0;
    margin: 0;
  }

}
