.orange-btn {
  background-color: $orange;
  color: $cream;
  height: 40px;
  padding: 6px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 18px;

  a {
    padding: 0;
    margin: 0;
  }
}
