.video-card {

  .video-card-content-left {
    background-color: $brown;
    padding: 40px;
    border-radius: 5px;
    z-index: 2;
    width: 35%;
    box-shadow:  0 4px 10px rgba(0,0,0,0.25);

  }

  .video-card-content-right {
    background-color: $brown;
    padding: 40px;
    border-radius: 5px;
    z-index: 2;
    width: 35%;
    box-shadow:  0 4px 10px rgba(0,0,0,0.25);
    position: relative;
    left: -80px;

  }

  .iframe {
    border-radius: 5px;
    height: 400px;
    width: 600px;
    z-index: 1;
    position: relative;
    left: -40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

}
