.video-card {

  .video-card-content {
    width: 35%;
  }

  .video-left {

    .iframe {
      z-index: 3;
      position: relative;
      left: -3vh;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

      iframe{
        border-radius: 5px;
      }
    }
  }

  .video-right {

    .iframe {
      z-index: 3;
      position: relative;
      right: -3vh;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

      iframe{
        border-radius: 5px;
      }
    }
  }
}

.video-border-left {
  border: 5px $orange solid;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 400px;
  width: 600px;
  position: relative;
  top: -28.8rem;
  left: 31.5rem;
}

.video-border-right {
  border: 5px $orange solid;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 400px;
  width: 600px;
  position: relative;
  top: -28.8rem;
  right: 31.5rem;
}

