// Graphical variables
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@300;400;600&display=swap');

// Basics

body {
  background-color: $cream;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: $gray;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: $gray;
}

p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  color: $gray;
}

a {

}

